@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tiro+Bangla:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font Classes */
@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }

  .bangla {
    font-family: 'Tiro Bangla', serif;
  }
}
.draggable {
  user-select: none;
  -webkit-user-drag: none;
}
