@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tiro+Bangla:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font Classes */
@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }

  .bangla {
    font-family: 'Tiro Bangla', serif;
  }
}
.draggable {
  user-select: none;
  -webkit-user-drag: none;
}
.text-shadow-white {
  text-shadow: 2px 2px 4px white;
}
.headline {
  color: red;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow:
    2px 2px 4px white,
    -2px -2px 4px white,
    2px -2px 4px white,
    -2px 2px 4px white;
}
.sub-headline {
  color: red;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow:
    1px 1px 1px white,
    -2px -2px 4px white,
    2px -2px 4px white,
    -2px 2px 4px white;
}
